*{

    display: 0%;
    font-family: Arial, Helvetica, sans-serif;

}


#contenedor{
    background-color: aqua;
    width: 500px;
    border-radius: 25px;


   
}

header{
    background-color: burlywood;
}

body{
    background-color: darkgreen;
}

a:hover{
    color: red;
    text-decoration: none;
}

a{
    text-decoration: none;
}