.contenedor{
    margin: 70px auto;
    width: 50%;
    background-color: bisque;
    border-radius: 15px;
    border: solid black 2px;

    
}

*{

    display: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
