*{

    display: 0%;
    font-family: Arial, Helvetica, sans-serif;

}

#contenedor{

    margin: 50px auto;
    width: 45%;
    background-color: darkgray;
    border-radius: 20px;
    border: solid black 2px;
    text-align: center;

}

#imagenRaza{

    border: 10px;
    border-color: 5px solid black;
    width: 50%;

}

