*{

    display: 0%;
    font-family: Arial, Helvetica, sans-serif;

}

#contenedor{

    margin: 50px auto;
    width: 45%;
    background-color: darkgray;
    border-radius: 20px;
    border: solid black 2px;
    text-align: center;

}

input{

    margin: 2px;
    padding: 1px;
    border-color: gray;

}

label{
    text-transform: uppercase;
    font-weight: bold;
}

#contenedor:hover{
    
    background-color: beige;
}
